{% extends "base.html" %}

{% block content %}
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <h1>Hi, {{ user.username }}!</h1>
        {% for drug in drugs %}
        <div>
            <h2> {{ drug.name }}</h2>
            <p>Target: {{ drug.target }}<br>
            Action: {{ drug.action }}</p>
        </div>
        {% endfor %}
    </body>
{% endblock %}