{% extends "base.html" %}

{% block content %}
    <h1>Match Abstracts to Drug Candidates</h1>
        <form action="{{ url_for('newmatch') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.relevance.label }}<br>
                {{ form.relevance(size=32) }}<br>
            </p>

            <p>
                {{ form.cancer.label }}<br>
                {{ form.cancer(size=32) }}<br>
            </p>

            <p>
                {{ form.drug.label }}<br>
                {{ form.drug(size=32, default=drug_suggestion) }}<br>
            </p>

            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}